body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white; 
    color: rgb(150, 8, 8); 
    padding: 10px;
    display: flex;
    align-items: center;
}

.header .logo {
    width: 60px; 
    height: 60px; 
    margin-right: 10px;
}

.header .header-title h1 {
    margin: 0;
    font-size: 28px; 
}

.header .header-title p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.chat-window {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.chat-message {
    display: flex;
    margin-bottom: 15px;
}

.user-message .message-content {
    background-color: #e4e6eb  ;
    color: rgb(6, 1, 1);
    align-self: flex-end;
    border-radius: 20px 20px 0 20px;
    margin-right: auto;
}

.bot-message {
    justify-content: flex-end;
}

.bot-message .message-content {
    background-color: #d63131;
    color: rgb(231, 231, 231);
    align-self: flex-start;
    border-radius: 20px 20px 20px 0;
    margin-left: auto;
}

.message-content {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.chat-form {
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
}

.chat-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-form button {
    padding: 10px 20px;
    border: none;
    background-color: #ff4d4d; 
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.chat-form button:hover {
    background-color: #e60000; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}
